/* © 2018 - Dylan Ogle */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    height: 100%;
}

body { 
    background-image: url(../images/orig.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.nav {
    background-color: black;
    overflow: hidden;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    animation-name: fadeInOut;
    animation-duration: 5s;
}

.nav a:hover {
    background-color: #ba7896;

    transition: all .3s ease-in-out;
}

@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
  
    45% {
      opacity: 1;
    }
  
    100% {
      opacity: 0%;
    }
}

.title {
    font-size: 50px;
    text-align: center;
    color: white;
    padding: 16%;
    animation-name: fadeInOut;
    animation-duration: 5s;
}

.projects {
    float: left;
    margin-top: 20px;
    margin-left: 25px;
    width: 10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: fadeInOut;
    animation-duration: 5s;
}

.projects a {
    text-decoration: none;
    color: black;
}

.container {
    text-align: center;
    padding: 2px 15px;
}